* {
  margin: 0;
}

.main {
  background-color: #edf1f7;
}

.logo {
  padding-bottom: 20px;
  padding-top: 20px;
}

.signUpforms {
  background-color: #fff;
  width: 70%;
  max-width: 900px;
  margin: 0 auto;
}

input[type='text'],
input[type='password'] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #fafafa;
}

input[type='date'] {
  display: inline-block;
  border: none;
  background: #fafafa;
  padding: 7.5px;
}

input[type='submit'] {
  background-color: #2e3f51;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: auto;
  margin-bottom: 0%;
}

input[type='submit']:hover {
  background-color: #999999;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  vertical-align: middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 23.5px;
  width: 23.5px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.toLogin {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.4);
  padding-top: 15px;
  padding-bottom: 15px;
}

input:required:focus {
  border: 1px solid red;
  outline: none;
}
