* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.top-bar {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #212d3a;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.social-area {
  display: flex;
}

.social-circle {
  display: block;
  margin-right: 10px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #2e3f51;
  text-align: center;
}

.social-circle:hover {
  background-color: #db4a39;
}

.social-icon {
  margin-top: 5px;
}

.search-form {
  display: block;
}

.search-input {
  background-color: #2e3f51;
  border: none;
  outline: none;
  border-radius: 14px;
  height: 26px;
}

.header {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: #fff;
}

.page-name-text {
  font-size: 26px;
  color: #4a4a4a;
}

.description-text {
  padding-top: 9px;
  font-size: 12px;
  color: #999;
}

.menu {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu ul {
  display: inline-flex;
}

.menu ul li {
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}

.header-link {
  color: #999;
  text-decoration: none;
}

.slider {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #2e3f51;
}

.slider-block {
  display: flex;
  width: 100%;
}

.slider1 {
  width: 30%;
  background-color: #2f3944;
  padding: 30px 24px;
}

.titulliILajmit {
  font-size: 24px;
  color: #ebeced;
}

.lajmi {
  padding-top: 30px;
  font-size: 16px;
  color: #ebeced;
}

.slider2 {
  width: 70%;
  background-color: #303030;
}

.shout {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffffff;
}

.shoutText {
  font-size: 22px;
  color: #505050;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

.leftArrowShout {
  padding-left: 30px;
  color: #2e3f51;
}

.rightArrowShout {
  padding-right: 30px;
  color: #2e3f51;
}

.content {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contentLeft {
  width: 65%;
}

.tittleLC {
  color: #1f1f1f;
  font-size: 16px;
  padding-bottom: 16px;
}

.newsLC {
  font-size: 12px;
  color: #807d77;
}

.contentLeft1 {
  width: 50%;
  padding-right: 25px;
}

.contentLeft2 {
  width: 50%;
}

.contentRight {
  width: 35%;
  padding-left: 30px;
}

.contentRight1 {
  width: 100%;
  padding-bottom: 25px;
}

.RCimg {
  padding-right: 15px;
  padding-bottom: 10px;
}

.contentRight2 {
  width: 100%;
}

.footer {
  padding-bottom: 25px;
  padding-top: 25px;
  background: #eee;
}

.footer-text {
  color: #737373;
  font-size: 12px;
}
