* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.top-bar {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #212d3a;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.social-area {
  display: flex;
}

.social-circle {
  display: block;
  margin-right: 10px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #2e3f51;
  text-align: center;
}

.social-circle:hover {
  background-color: #db4a39;
}

.social-icon {
  margin-top: 5px;
}

.search-form {
  display: block;
}

.search-input {
  background-color: #2e3f51;
  border: none;
  outline: none;
  border-radius: 14px;
  height: 26px;
}

.header {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: #fff;
}

.page-name-text {
  font-size: 26px;
  color: #4a4a4a;
  text-decoration: none;
}

.description-text {
  padding-top: 9px;
  font-size: 12px;
  color: #999;
}

.menu {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu ul {
  display: inline-flex;
}

.menu ul li {
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}

.header-link {
  color: #999;
  text-decoration: none;
}

.slider-block {
  display: flex;
  width: 100%;
}

tr.bottomBorder td {
  border-bottom: 1px solid #e0e0e0;
}

.copyright {
  background: #eee;
}

.copyrightline {
  border-top: 1px solid #e0e0e0;
  padding: 25px 0;
}

.copyright-text {
  color: #737373;
  font-size: 12px;
}

.sub-menu {
  position: relative;
  display: inline-block;
}

.sub-menu-content {
  position: absolute;
  display: none;
  min-width: 136px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.sub-menu-content a {
  color: #999999;
  text-decoration: none;
  padding: 8px 8px 10px 12px;
  display: block;
}

.sub-menu-content a:hover {
  background-color: #ddd;
}

.sub-menu:hover .sub-menu-content {
  display: block;
}
